<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - 露天矿爆破综合信息服务平台</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Styles.Render("~/Content/kj")
    @Scripts.Render("~/bundles/kj")
    @Scripts.Render("~/bundles/top")
    @Styles.Render("~/Content/time")
    @Scripts.Render("~/bundles/time")
    <link href="/Content/css/green.css" media="all" rel="alternate stylesheet" title="green-theme" type="text/css" />
    <link href="/Content/css/orange.css" media="all" rel="alternate stylesheet" title="orange-theme" type="text/css" />
    <link href="/Content/css/magenta.css" media="all" rel="alternate stylesheet" title="magenta-theme" type="text/css" />
    <link href="/Content/css/gray.css" media="all" rel="alternate stylesheet" title="gray-theme" type="text/css" />
    @RenderSection("scripts", required: false)
</head>
<body>

    <div class="modal-shiftfix">
        <!-- Navigation -->
        <div class="navbar navbar-fixed-top scroll-hide">
            <div class="container-fluid top-bar">
                <div class="pull-right">
                    <ul class="nav navbar-nav pull-right">

                        <li class="dropdown settings hidden-xs">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <span aria-hidden="true" class="se7en-gear"></span>
                                <div class="sr-only">Settings</div>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a class="settings-link blue" href="javascript:chooseStyle('none', 30)">
                                        <span></span>Blue
                                    </a>
                                </li>
                                <li>
                                    <a class="settings-link green" href="javascript:chooseStyle('green-theme', 30)">
                                        <span></span>Green
                                    </a>
                                </li>
                                <li>
                                    <a class="settings-link orange" href="javascript:chooseStyle('orange-theme', 30)">
                                        <span></span>Orange
                                    </a>
                                </li>
                                <li>
                                    <a class="settings-link magenta" href="javascript:chooseStyle('magenta-theme', 30)">
                                        <span></span>Magenta
                                    </a>
                                </li>
                                <li>
                                    <a class="settings-link gray" href="javascript:chooseStyle('gray-theme', 30)">
                                        <span></span>Gray
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown user hidden-xs">
                            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                                <img width="34" height="34" src="../../Images/login_logo.png" /><b id="nm"></b>
                                <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a data-toggle="modal" data-target="#changePass" href="#">
                                        <i class="icon-gear"></i>
                                        修改密码
                                    </a>
                                </li>
                                <li>
                                    <a href="#" onclick="show_confirm()">
                                        <i class="icon-signout"></i>退出
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <button class="navbar-toggle">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="logo" href="/Home/Index">露天矿爆破综合信息服务平台</a>
            </div>
            <div class="container-fluid main-nav clearfix">
                <div class="nav-collapse">
                    <ul class="nav">
                        <li>
                            <a class="current" href="/Home/Index">
                                <span aria-hidden="true" class="se7en-home"></span>首页
                            </a>
                        </li>

                        <li class="dropdown">
                            <a data-toggle="dropdown" href="#">
                                <span aria-hidden="true" class="se7en-tables"></span>爆破项目
                                <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="/Table/Query">查询</a>
                                </li>
                                <li>
                                    <a href="/Table/Mark">
                                        <p>效果评价</p>
                                    </a>
                                </li>
                            </ul>
                        </li>

                        <li class="dropdown">
                            <a data-toggle="dropdown" href="#">
                                <span aria-hidden="true" class="se7en-pages"></span>文件共享
                                <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="/Zip/Up">上传</a>
                                </li>
                                <li>
                                    <a href="/Zip/Down">下载</a>
                                </li>

                            </ul>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
        <!-- End Navigation -->
        @RenderBody()
    </div>

    @*修改密码*@
    <div class="modal fade" id="changePass" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static">
        <div class="modal-dialog" style="width:400px">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title" id="myModalLabel">修改密码</h4>
                </div>
                <div class="modal-body">
                    <form class="form-signin">
                        <label for="inputName">用户名</label>
                        <input type="text" id="Name" name="Name" class="form-control" placeholder="用户名" readonly>
                        <label for="OldPassword">请输入旧密码</label>
                        <input type="password" id="OldPassword" name="OldPassword" class="form-control" placeholder="旧密码" required autofocus>
                        <label for="NewPassword">请输入新密码</label>
                        <input type="password" id="NewPassword" name="NewPassword" class="form-control" placeholder="新密码" required>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="change">提交更改</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                </div>
            </div>
        </div>
    </div>

</body>
</html>

